.main_content{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imageHome{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.textBem{
    color: #333;
    font-size: 34px;
}



.textCS2{
    display: inline;
    color: #fff;
    background-color: #29377e;
    font-size: 34px;
    margin-left: .5em;
    padding: .2em;
   
}

.textWelcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 300px;
    margin-bottom: 100px;
   margin-right: 400px;
}

.textWelcome p{
    justify-content: center;
    align-items: start;
    margin-bottom: 50px;
}

.textWelcome h3{
    color: #333;
}